.contact {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.nameBox,
.phoneBox {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 8px;
    white-space: nowrap;
}

.name,
.phone {
    margin-left: 10px;
}

