.contact {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.nameBox,
.phoneBox {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 8px;
    white-space: nowrap;
}

.name,
.phone {
    margin-left: 10px;
}

.item {
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.deleteBtn {
    background-color: rgb(11, 11, 11);
    border: none;
    color: white;
    padding: 5px 10px;
    
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    display: flex;
    align-items: center;
    
    justify-content: center;

    min-width: 70px;
   
    min-height: 30px;
   
    margin-left: 10px;
    
}

.deleteBtn:hover {
    background-color: rgb(249, 233, 3);
}

.deleteIcon {
    font-size: 14px;
}